# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/
env/

# SUMO generated simulation outputs
*.tripinfo.xml
*.stat.xml
*.log.xml

# Temporary files
*.tmp
*.bak

# IDE / editor files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db